body {
  background-image: url(assets/destination/background-destination-mobile.jpg);
}

.contents .container1 p.caption.subheading {
  font-weight: 300;
  word-spacing: 2px;
}

.contents .container1 p.caption.subheading::before {
  content: "01 ";
  display: inline;
  font-weight: 600;
  color: #666;
  word-spacing: 10px;
}

.contents .container1 img#image {
  width: 150px;
  margin: 30px;
}

.contents .container2 ul {
  margin: auto;
  width: 65%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.contents .container2 ul li {
  cursor: pointer;
}

.contents .container2 ul li::before {
  top: 100%;
  position: relative;
  display: block;
  content: "";
  width: 95%;
  height: 3px;
  transition-property: opacity transform;
  transition-duration: 300ms;
  transform: translateY(10px) scaleX(0);
  background-color: #d0d6f9;
  opacity: 0;
}

.contents .container2 ul li:hover::before {
  transform: translateY(10px) scaleX(1.2);
  opacity: 0.4;
}

.contents .container2 ul li.active::before {
  opacity: 1;
  transform: translateY(10px) scaleX(1.2);
}

.contents .container2 #name {
  margin-top: 20px;
  font-size: 60px;
}

.contents .container2 #description {
  max-width: 96%;
  margin: auto;
  margin-bottom: 30px;
}

.contents .container2 hr {
  all: inherit;
  border-top: 1.5px solid rgba(255, 255, 255, 0.4);
}

.contents .container2 .wrapper {
  margin: 30px;
}

.contents .container2 .wrapper div {
  margin: 30px;
}

.contents .container2 .wrapper div * {
  margin: 20px;
}

.contents .container2 .wrapper div .heading {
  font-size: 25px;
  font-weight: light;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  body {
    background-image: url(assets/destination/background-destination-tablet.jpg);
  }
  .contents .container1 {
    margin-top: 60px;
  }
  .contents .container1 p.caption.subheading {
    text-align: left;
    font-size: 22px;
    word-spacing: 3px;
    letter-spacing: 2.5px;
  }
  .contents .container1 img#image {
    width: 300px;
    margin: 70px 0px 50px;
  }
  .contents .container2 ul {
    letter-spacing: 3px;
    width: 45%;
  }
  .contents .container2 #name {
    margin-top: 45px;
    font-size: 80px;
  }
  .contents .container2 #description {
    max-width: 80%;
    margin: 10px auto 50px;
  }
  .contents .container2 hr {
    width: 80%;
    margin: auto;
  }
  .contents .container2 .wrapper {
    margin: 10px auto 20px;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contents .container2 .wrapper div {
    margin: 10px;
  }
  .contents .container2 .wrapper div * {
    margin: 15px;
  }
  .contents .container2 .wrapper div .heading {
    font-size: 35px;
  }
}

@media screen and (min-width: 991px) {
  body {
    background-image: url(assets/destination/background-destination-desktop.jpg);
  }
  .contents {
    padding-inline: 40px;
    margin: 0px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
  }
  .contents .container {
    text-align: left;
  }
  .contents .container1 p.subheading {
    font-size: 22px;
    letter-spacing: 3px;
  }
  .contents .container1 img#image {
    width: 30vw;
    margin: 40px 50px 0px;
  }
  .contents .container2 {
    margin-top: 60px;
  }
  .contents .container2 ul {
    margin: 0px;
  }
  .contents .container2 #name {
    font-size: 90px;
  }
  .contents .container2 #description {
    max-width: 100%;
  }
  .contents .container2 hr {
    margin: 0px;
  }
  .contents .container2 .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    margin-block: 10px;
  }
  .contents .container2 .wrapper div {
    margin: 0px;
  }
  .contents .container2 .wrapper div * {
    margin: 0px;
    margin-block: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .contents {
    margin-top: 110px;
    padding-inline: 120px;
    grid-template-columns: 11fr 6fr;
    column-gap: 0vw;
  }
  .contents .container1 p.subheading {
    font-size: 28px;
    letter-spacing: 4.75px;
  }
  .contents .container1 img#image {
    width: 65%;
    margin-top: 60px;
  }
  .contents .container2 {
    margin-top: 100px;
  }
  .contents .container2 #name {
    margin-top: 50px;
  }
  .contents .container2 #decription {
    margin: 30px auto 60px;
  }
}
