@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@300;600&family=Bellefair&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  background-size: cover;
  font-family: "Barlow";
  color: #d0d6f9;
  font-size: 15px;
  scrollbar-width: thin;
  scrollbar-color: #d0d6f9 #0b0d17;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #d0d6f9;
}

body::-webkit-scrollbar-thumb {
  background-color: #0b0d17;
  border-radius: 20px;
  border: 1px solid #d0d6f9;
}

.navigation-bar {
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 800ms;
  transition-timing-function: ease-out;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  word-spacing: 5px;
  color: #ffffff;
  position: fixed;
  height: 100vh;
  width: 68%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  top: 0;
  right: 0;
  z-index: 2;
}

.navigation-bar .close {
  float: right;
  margin: 30px;
}

.navigation-bar .menu {
  margin: 20px;
  margin-top: 110px;
  margin-right: 0;
  counter-reset: item -1;
  list-style: none;
}

.navigation-bar .menu li {
  margin: 20px;
  margin-right: 0;
  padding-block: 8px;
  cursor: pointer;
  /*&:hover
                border-right: 5px rgba(255, 255, 255, 0.5) solid */
}

.navigation-bar .menu li.active::after {
  float: right;
  top: 0px;
  position: relative;
  display: block;
  content: "";
  width: 3px;
  height: 20px;
  background-color: #ffffff;
  transform-origin: center;
  transform: scaleY(1.5);
}

.navigation-bar .menu li a {
  all: unset;
  color: inherit;
  text-decoration: none;
}

.navigation-bar .menu li a::before {
  content: "0" counter(item) " ";
  counter-increment: item;
  font-weight: bold;
}

.heading {
  color: #ffffff;
  font-family: "Bellefair";
  text-transform: uppercase;
}

.subheading {
  font-family: "Barlow Condensed";
  text-transform: uppercase;
  letter-spacing: 2px;
}

.body {
  line-height: 1.7em;
}

.header {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .icon svg {
  transform: scale(0.8);
}

.header .harmburger svg {
  transform: scale(1.1);
}

.contents {
  margin: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header {
    margin: 20px 30px;
  }
  .contents {
    margin: 30px;
  }
  body {
    font-size: 16px;
  }
  .navigation-bar {
    transform: none;
    transition: none;
    position: absolute;
    width: 58%;
    height: 90px;
  }
  .navigation-bar .close {
    display: none;
  }
  .navigation-bar .menu {
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .navigation-bar .menu li {
    padding: 0px;
    margin: 0px;
  }
  .navigation-bar .menu li a {
    display: block;
    width: 100%;
    top: 50%;
    padding-block: 30px;
    position: relative;
    transform: translateY(-50%);
  }
  .navigation-bar .menu li::before {
    top: 100%;
    position: relative;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    transform: translateY(-100%) scaleX(0);
    background-color: #ffffff;
    opacity: 0;
    transform-origin: center;
    transition-property: opacity transform;
    transition-duration: 300ms;
  }
  .navigation-bar .menu li:hover::before {
    opacity: 0.6;
    transform: translateY(-100%) scaleX(1);
  }
  .navigation-bar .menu li.active::after {
    all: unset;
  }
  .navigation-bar .menu li.active::before {
    opacity: 1 !important;
    transform: translateY(-100%) !important;
  }
  .header .icon svg {
    transform: none;
  }
  .header .hamburger {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .navigation-bar .menu li a::before {
    all: unset;
  }
}

@media screen and (min-width: 991px) {
  body {
    padding-inline: 40px;
  }
  .navigation-bar, .header {
    transform: translateY(30px);
  }
  .navigation-bar .menu li a::before {
    content: "0" counter(item) " ";
    counter-increment: item;
    font-weight: bold;
  }
  .header .icon {
    /*svg
                transform: scale(1.5) */
  }
  .header .icon::after {
    position: relative;
    bottom: 25px;
    display: inline-block;
    content: "";
    width: calc(38vw - 40px);
    margin-left: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateY(400%);
  }
}
